.rowDisplay,
.locationRow,
.distanceRow {
  display: flex;
  gap: 10px;
}

.filterHeader {
  font-weight: lighter;
}

.locationRowTitle {
  display: flex;
}

.locationTitle {
  display: flex;
  gap: 10px;
  flex: 1;
}
.locationAutocomplete {
  flex: 4;
}