.stopName {
  cursor: pointer;
  color: #666666;
  font-weight: 500;
  text-decoration: underline;
}

.scheduleTableHead, .shortName, .arrivalTime {
  font-weight:bolder;
}

.remainingTime {
  font-weight: lighter;
  margin-left: auto;
}

.scheduleTableBody {
  font-weight: 350;
}

.stopName:hover {
  color: #333333;
}

.transportationRow {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

@media (max-width: 850px) {
  .arrivalTime {
    margin-left:auto;
  }
}

.shortName.bus, .longName.bus {
  color: var(--bus-blue);
}

.shortName.subway, .longName.subway {
  color: var(--subway-orange)
}

.shortName.tram, .longName.tram {
  color: var(--tram-green)
}

.shortName.rail, .longName.rail {
  color: var(--train-purple)
}